/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

ul li a
{
	text-decoration: none;
	color: black;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0

}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

li a:hover {
	color: #B1663C;
}

#sLogin
{
	display: inline;
}

#sLogout
{
	display: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#buttonPort
{
	text-align: center;
}

#buttonPort button
{
	
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding-right: 1%;
	padding-left: 1%;
	height: 10%;
	margin-bottom: 2%;
	
}

#buttonPort button:hover
{
	background: #1D6154;
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #FFFFFF;
	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	padding-right: 1%;
	padding-left: 1%;
	margin-bottom: 2%;
	
}



#buttonPort button
{
	padding: 1%;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#modifProf
{
	display: none;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: black;
	padding-left: 10%;
	margin-top: 2%;
	
}

#modifImg
{
	display:none;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	text-decoration: none;
	color: black;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#bandeEdit
{
	display: none;
	background-color: #000000;
	width: 100%;
	height: 10%;
	padding: 1%;
	justify-content: center;

}

#bandeEdit ul
{
	justify-content: center;
}

#bandeEdit ul li a
{
	color: #FFFFFF;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
}

#bandeEdit ul li button
{
	background: #FFFFFF;
	border-radius: 60px;
	width: 110%;
	height: 50px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-align: center;

	color: #000000;

}

#navLog
{
	font-weight: bold;
	
}

#navLog:hover
{
	color: black;
}

#formulaire
{
	text-align: center;
}
#formulaire h2
{
	margin-left: auto;
	margin-right: auto;
}

#mailP, #mdp
{
	margin-left: 33%;
	margin-top : 4%
	
}

#logIn
{
	margin-top: 15%;
	width: 100px;
	height: 36px;
	

	font-family: 'Syne';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	/* identical to box height */

	text-align: center;

	color: #1D6154;
}

#mailP
{
	
	width: 46px;
	height: 16px;
	left: 40.5%;
	top: 315px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #3D3D3D;
}

#email2
{
	
	width: 379px;
	height: 51px;
	left: 40.5%;
	top: 338px;

	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#mdp
{
	
	width: 92px;
	height: 16px;
	left: 40.5%;
	top: 419px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;

	color: #3D3D3D;
}

#password
{
	margin-bottom: 5%;
	width: 379px;
	height: 51px;
	left: 40.5%;
	top: 441px;

	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#connect
{
	
	width: 179px;
	height: 36px;
	left: 44.5%;
	top: 529px;

	background: #1D6154;
	border-radius: 60px;
	color: #FFFFFF;
}

#mdpOublie
{
	
	width: 139px;
	height: 16px;
	left: 45.25%;
	top: 593px;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;

	color: #3D3D3D;
}

#mdpincorrect
{
	display: none;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: #ff0000;
}

#mL
{
	position: absolute;
	left: 85%;
	right: 7.43%;
	top: 95%;
	bottom: 33.33%;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 300;
	font-size: 11px;
	line-height: 16px;

	color: #000000;
}

#aPhoto
{
	background: #1D6154;
	color: #FFFFFF;
	border-radius: 60px;
	height: 50px;
	padding-right: 5%;
	padding-left: 5%;

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;
	text-align: center;

}

h3
{

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 30px;
	text-align: center;

	color: #000000;
}

#suppr a
{
	font-family: 'Syne';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;

	text-align: center;

	color: #D65353;
	text-decoration: none;
}

.modal, .modalAjout
{
	position: fixed;
	top : 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #0000006e;
	display: none;
	justify-content: center;
	align-items: center;
}

.modal.active, .modalAjout.active
{
	display: flex;
}

.popup, .popupAjout
{
	height: 80%;
	width: 630px;
	background-color: #FFFFFF;
	border-radius: 10px;
	padding: 5px;
	text-align: center;
	animation: animationA 1s ease-in-out 0.5s backwards;
}

#quitAP, #quitAP2
{
	margin-bottom: 2%;
	margin-left: 90%;
	margin-top: 6%;
}

#aPhoto
{
	margin-bottom: 2%;
}

.imageEdit
{
	width: 100%;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15%;
    grid-row-gap: 20px;
    margin-left: 15%;
	margin-top: 7%;
	margin-bottom: 7%;
	
	width: 100%;
}

.editImg img
{
	width: 80px;
	height: 110px;
}

.imageEdit button
{
	animation: animationA 1s ease-in-out 0.5s backwards;
}

#photoAjout
{
	background-color: #E8F1F7;
	border-radius: 3px;
	height: 40%;
	width: 90%;
	margin-left: auto;
    margin-right: auto;
	margin-top: 5%;
}


#photoAjout .fa-solid
{
	font-size: 100px;
	color: #B9C5CC;
	margin-top: 12%;
}

#photoAjout
{
	margin-top: 7%;
	margin-bottom: 5%;
}

#buttonAPV
{
	display: inline-flex;
	padding-left: 7%;
    margin-top: 3%;
    background: #CBD6DC;
    border-radius: 50px;
    width: 47%;
    height: 18%;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 29px;
    line-height: 56px;
    text-align: center;
    color: #306685;
}

input[type=file]
{
	display: none;
}

#validationAjout
{
	width: 40%;
	height: 36px;
	margin-top: 5%;
	background: #CBD6DC;
	border-radius: 50px;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;
	text-align: center;

	color: #306685;
}

#divTitre label
{
	margin-top: 50px;
	margin-right: 84%;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;

	color: #3D3D3D;
}

#divCategorie label
{
	margin-top: 10%;
	margin-right: 77%;
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 16px;

	color: #3D3D3D;
}

#titre
{
	width: 89%;
	margin-top: 1%;
	margin-bottom: 5%;
	height: 40px;
	background-color: #FFFFFF;
	border-color: white;
	
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 16px;
}

#selectCate
{
	width: 89%;
	margin-top: 1%;
	background-color: #FFFFFF;
	border-color: white;
	height: 40px;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);

	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 16px;
}


@keyframes animationA
{
	0%{
		opacity:0;
		transform: translateY(-20px);
	}

	100%{
		opacity:1;
		transform: translateY(0px);
	}
	
}
